<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>RedLiN5 Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_portfolio.css') }}">
    <link rel="stylesheet" href="../static/css/index_portfolio.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <style type="text/css">
      body{padding:50px 0 0 0;}
    </style>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Homepage</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li>
                      <a href="#">Apps</a>
                  </li>
                  <li>
                      <a href="#">Projects</a>
                  </li>
                  <li>
                      <a href="#">Contact</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row carousel-holder">

          <div class="col-md-12">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                      <div class="item active">
                        <a href='/weibo/search'>
                          <img class="slide-image" src="{{ url_for('static', filename='weibo_banner.png') }}" alt=""
                          style="width:990px;height:300px;">
                        </a>
                      </div>
                      <div class="item">
                          <img class="slide-image" src="http://placehold.it/1000x300" alt=""
                          style="width:990px;height:300px;">
                      </div>
                      <div class="item">
                          <img class="slide-image" src="http://placehold.it/1000x300" alt=""
                          style="width:990px;height:300px;">
                      </div>
                  </div>
                  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
              </div>
          </div>

      </div>

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Most recent project
                    <small>Weibo user search engine</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-1">
            </div>

            <div class="col-md-4">
              <a href='/weibo/search'>
                <img class="img-responsive" src="{{ url_for('static', filename='weibo_icon.png') }}" alt=""
                style="width:300px;height:300px;">
              </a>
            </div>

            <div class="col-md-6">
                <h3>Project Description</h3>
                <p>Weibo Analyst demonstrates recent activities of one user whom you may be interested in via a practical and reliable method. This includes weibo flow changes, interactions and other interested bloggers.</p>
                <h3>Expected Results</h3>
                <ul>
                    <li>Anonymous inquiry</li>
                    <li>Weibo trend plots</li>
                    <li>Interested bloggers</li>
                </ul>
            </div>

            <div class="col-md-1">
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="/douban/search">
                    <img class="img-responsive portfolio-item" src="{{ url_for('static', filename='douban_icon.png') }}" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; RedLiN5 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>


</body>

</html>
